* {
  background-color: white;
  font-size: 16px;
}

/* Layout */
.container {
	max-width: 70%;
	margin: auto;
}

header {
  margin-bottom: 1rem;
	border-bottom: 1px solid black;
}

section {
  margin-bottom: 2rem;
}

footer {
  border-top: 1px solid black;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

p {
  line-height: normal;
  font-size: 1rem;
}

/* typography */
h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.4rem;
	color: rgb(72,72,72);
  text-transform: uppercase;
  margin-bottom: 0;
}

p, ul {
	font-family: 'PT Serif', serif;
	color: rgba(72, 72, 72, 0.8);
}

/* responsive element */
@media screen and (max-width: 1010px) {
  .container {
    max-width: 90%;
  }

}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 64px;
  }
}

@media screen and (max-width: 730px) {
	.container {
    max-width: 95%;
  }
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 570px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 34px;
  }
  .container {
    max-width: 98%;
  }
}